#content{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#image{
    size: auto;
    max-width: available;
}
#image, image1, #image2, image3{
    margin-top: 10px;
    margin-bottom: 10px;
}

#image1{
    margin-right: 10px;
    float: left;
}

#image2{
    float: right;
    margin-left: 10px;
}
#image3{
    margin-right: 10px;
    float: right;
}
p{
    text-align: justify;
}
#footer p {
    text-align: center;
}

#footer{
    clear: both;
    background-color: black;
    color: white;
    padding: 30px;
    top: 20px;
}